In [1]:
#import libraries
import pandas as pd
import numpy as np

In [2]:
#load csv file 
data = pd.read_csv(r"C:\Users\Redux\nypd\Motor_Vehicle_Collisions_Crashes_20240911.csv")
data.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,09/06/2017,0:10,NaN,NaN,40.686550,-74.008125,"(40.68655, -74.008125)",BROOKLYN BATTERY TUNNEL,NaN,NaN,...,NaN,NaN,NaN,NaN,3745511,Sedan,NaN,NaN,NaN,NaN
1,09/06/2017,17:00,NaN,NaN,40.866966,-73.896194,"(40.866966, -73.896194)",EAST KINGSBRIDGE ROAD,NaN,NaN,...,NaN,NaN,NaN,NaN,3746623,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
2,09/06/2017,20:45,MANHATTAN,10038.0,40.710754,-74.000680,"(40.710754, -74.00068)",NaN,NaN,388 PEARL STREET,...,Unspecified,NaN,NaN,NaN,3745336,Station Wagon/Sport Utility Vehicle,Taxi,NaN,NaN,NaN
3,09/06/2017,19:33,NaN,NaN,NaN,NaN,NaN,BROOKLYN QUEENS EXPRESSWAY,NaN,NaN,...,Driver Inattention/Distraction,Driver Inattention/Distraction,NaN,NaN,3755911,Station Wagon/Sport Utility Vehicle,Sedan,Sedan,NaN,NaN
4,09/06/2017,13:00,NaN,NaN,40.673565,-73.907880,"(40.673565, -73.90788)",EAST NEW YORK AVENUE,STONE AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3744793,Station Wagon/Sport Utility Vehicle,Box Truck,NaN,NaN,NaN

In [3]:
#how many rows and columns do you have
data.shape

(1004699, 29)

In [4]:
#how many nulls 
data.isna().sum()

CRASH DATE                            0
CRASH TIME                            0
BOROUGH                          349656
ZIP CODE                         349819
LATITUDE                          83991
LONGITUDE                         83991
LOCATION                          83991
ON STREET NAME                   256283
CROSS STREET NAME                520469
OFF STREET NAME                  749459
NUMBER OF PERSONS INJURED             9
NUMBER OF PERSONS KILLED             17
NUMBER OF PEDESTRIANS INJURED         0
NUMBER OF PEDESTRIANS KILLED          0
NUMBER OF CYCLIST INJURED             0
NUMBER OF CYCLIST KILLED              0
NUMBER OF MOTORIST INJURED            0
NUMBER OF MOTORIST KILLED             0
CONTRIBUTING FACTOR VEHICLE 1      4394
CONTRIBUTING FACTOR VEHICLE 2    189914
CONTRIBUTING FACTOR VEHICLE 3    924535
CONTRIBUTING FACTOR VEHICLE 4    985157
CONTRIBUTING FACTOR VEHICLE 5    999083
COLLISION_ID                          0
VEHICLE TYPE CODE 1                9611
VEHICLE TYPE CODE 2              266136
VEHICLE TYPE CODE 3              929298
VEHICLE TYPE CODE 4              986084
VEHICLE TYPE CODE 5              999283
dtype: int64

In [5]:
#How many columns 
data.columns

Index(['CRASH DATE', 'CRASH TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE',
       'LONGITUDE', 'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME',
       'OFF STREET NAME', 'NUMBER OF PERSONS INJURED',
       'NUMBER OF PERSONS KILLED', 'NUMBER OF PEDESTRIANS INJURED',
       'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED',
       'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED',
       'NUMBER OF MOTORIST KILLED', 'CONTRIBUTING FACTOR VEHICLE 1',
       'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3',
       'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5',
       'COLLISION_ID', 'VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2',
       'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5'],
      dtype='object')

In [6]:
#drop columns that aren't needed 
data.drop(['CONTRIBUTING FACTOR VEHICLE 3',
       'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5',
       'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5','CROSS STREET NAME',
       'OFF STREET NAME' ],axis = 1, inplace = True)
data.shape

(1004699, 21)

In [7]:
#updated nulls 
data.isna().sum()

CRASH DATE                            0
CRASH TIME                            0
BOROUGH                          349656
ZIP CODE                         349819
LATITUDE                          83991
LONGITUDE                         83991
LOCATION                          83991
ON STREET NAME                   256283
NUMBER OF PERSONS INJURED             9
NUMBER OF PERSONS KILLED             17
NUMBER OF PEDESTRIANS INJURED         0
NUMBER OF PEDESTRIANS KILLED          0
NUMBER OF CYCLIST INJURED             0
NUMBER OF CYCLIST KILLED              0
NUMBER OF MOTORIST INJURED            0
NUMBER OF MOTORIST KILLED             0
CONTRIBUTING FACTOR VEHICLE 1      4394
CONTRIBUTING FACTOR VEHICLE 2    189914
COLLISION_ID                          0
VEHICLE TYPE CODE 1                9611
VEHICLE TYPE CODE 2              266136
dtype: int64

In [8]:
data1 = data.copy()
data1

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,...,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
0,09/06/2017,0:10,NaN,NaN,40.686550,-74.008125,"(40.68655, -74.008125)",BROOKLYN BATTERY TUNNEL,0.0,0.0,...,0,0,0,0,0,Traffic Control Disregarded,NaN,3745511,Sedan,NaN
1,09/06/2017,17:00,NaN,NaN,40.866966,-73.896194,"(40.866966, -73.896194)",EAST KINGSBRIDGE ROAD,0.0,0.0,...,0,0,0,0,0,Unspecified,NaN,3746623,Station Wagon/Sport Utility Vehicle,NaN
2,09/06/2017,20:45,MANHATTAN,10038.0,40.710754,-74.000680,"(40.710754, -74.00068)",NaN,0.0,0.0,...,0,0,0,0,0,Following Too Closely,Unspecified,3745336,Station Wagon/Sport Utility Vehicle,Taxi
3,09/06/2017,19:33,NaN,NaN,NaN,NaN,NaN,BROOKLYN QUEENS EXPRESSWAY,0.0,0.0,...,0,0,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,3755911,Station Wagon/Sport Utility Vehicle,Sedan
4,09/06/2017,13:00,NaN,NaN,40.673565,-73.907880,"(40.673565, -73.90788)",EAST NEW YORK AVENUE,0.0,0.0,...,0,0,0,0,0,Unspecified,Unspecified,3744793,Station Wagon/Sport Utility Vehicle,Box Truck
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004694,09/05/2024,7:20,NaN,NaN,40.836468,-73.937035,"(40.836468, -73.937035)",WEST 164 STREET,1.0,0.0,...,0,0,0,1,0,Driver Inattention/Distraction,Unspecified,4753698,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle
1004695,09/05/2024,6:27,NaN,NaN,NaN,NaN,NaN,BROOKLYN QUEENS EXPRESSWAY RAMP,0.0,0.0,...,0,0,0,0,0,Following Too Closely,Unspecified,4753821,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle
1004696,09/05/2024,20:21,BROOKLYN,11214.0,0.000000,0.000000,"(0.0, 0.0)",80 STREET,1.0,0.0,...,0,0,0,1,0,Unspecified,Unspecified,4753970,Sedan,Sedan
1004697,09/05/2024,15:45,NaN,NaN,40.687270,-73.910200,"(40.68727, -73.9102)",SCHAEFER STREET,0.0,0.0,...,0,0,0,0,0,Other Vehicular,Passing Too Closely,4753738,Sedan,Box Truck
1004698,09/05/2024,14:30,NaN,NaN,0.000000,0.000000,"(0.0, 0.0)",150 STREET,0.0,0.0,...,0,0,0,0,0,Passing or Lane Usage Improper,Unspecified,4753422,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle

In [9]:
data1.dropna(axis=0, subset=['BOROUGH', 'ZIP CODE'], inplace = True)
data1.shape

(654880, 21)

In [ ]:
data1.to_csv("nypd1.csv")